body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 21cm;
    height: 29.7cm;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .left-pane {
    background-color: slategray;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size: medium;
    float: left;
    width: 30%;
    height: 30cm;
  }
  
  .left-pane img {
    width: 200px;
    height: 200px;
    border-radius: 3%;
    margin-bottom: 20px;
  }

  .left-pane contact{
    text-align: justify;
  }
  
  .right-pane {
    text-align: right;
    padding: 20px;
    float: right;
    width: 50%;
    margin-right: 30px;
    text-align: justify;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
    text-align: left;
  }
  
  ul {
    text-align: left;
  }

  div class{
    text-align: justify;
  }
  .contact-info p {
    margin: 5px;
    text-align: left;
  }
  
  .section-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .section-content {
    margin-bottom: 20px;
  }
  
  .hobby{
    text-align: justify;
  }
  
  .section-footer{
    text-align: right;
    font-weight: bold;
  }